bacground-color{
    color:red

}

.btn{
    background-color: rgb(180, 180, 241) ;
}

.btn-btn{
    background-color: rgb(180, 180, 241) ;
}

.toggle-btn{
    background-color: rgb(180, 180, 241) ;
}
.reset-btn{
    background-color: rgb(241, 192, 180) ;
}